.blue {
  background-color: blue;
  height: 100px;
  border: 1px solid black;
}
.green {
  background-color: green;
  height: 25px;
  border: 1px solid black;
}
.red {
  background-color: red;
  height: 150px;
  border: 1px solid black;
}
.light_blue {
  background-color: turquoise;
  height: 150px;
  border: 1px solid black;
}
.orange {
  background-color: orange;
  height: 125px;
  border: 1px solid black;
}
.black {
  background-color: black;
  height: 25px;
  border: 1px solid grey;
  color: white;
}
